.dark-theme {
    background-color: #282828;
}

.nav {
    color:#999999;
    line-height:30px;
    height:80%;
    width:20%;
    float:left;
}

.section {
    background-color: #2d2d2d;
    color:#999999;
    height:80%;
    width:80%;
    float:left;
}

.bottom {
    background-color:#333333;
    clear:both;
    height:20%;
}

.list-menu {
}

.chat-area {
}

.chat-log {
    height: 90%;
    overflow-y: auto;
    margin:10px;
}

.chat-input {
}

.chat-text {
    width: 80%;
}